body {
    margin: 0px;
}

#field {
    left:0;
    top:0;
    width:100%;
    height:100%;
    position : absolute;
    display: inline-block;
    background-color: white;
}

.score {
    font-family : Impact, Charcoal, sans-serif;
    text-anchor: middle;
    font-size : 30pt;
}

#paused {
    font-family : Impact, Charcoal, sans-serif;
    text-anchor: middle;
    text-transform: uppercase;
    font-size : 40pt;
}